[submodule "modules/3rd-party/args"]
	path = modules/3rd-party/args
	url = git@github.com:Taywee/args.git
[submodule "cmake"]
	path = cmake
	url = git@git.dev.lan:app3d/acbt.git
[submodule "modules/aecl"]
	path = modules/aecl
	url = git@git.dev.lan:app3d/aecl.git
[submodule "modules/acul"]
	path = modules/acul
	url = git@git.dev.lan:app3d/acul.git
[submodule "modules/umbf"]
	path = modules/umbf
	url = git@git.dev.lan:app3d/umbf.git
